body{
  background-color: #FFF2E7 !important;
}
#title{
  text-align: center;
  color: #3B5997;
  font-weight: bold;
  margin-bottom: 50px;
}
.vehicle_img{
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.vehicle_img:hover{
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.vehicle_titles{
margin-left: 30px;
color: #3B5997;
}

#land_form{
  display: none;
}

#land_form label{
  margin-right: 20px;
  margin-left: 15px;
  margin-top: 20px;
}
#land_form input{
  width: 40px;
  margin-left: 17px;
  display: block;
}
#land_start{
  width: 100px;
}
#land_start{
  margin-left: 17px;
  margin-top: 15px;
}
.land_veloc{
  color: #4AE54A;
  margin-left: 50px;
  display: none;
  position: absolute;
  margin-top: 100px;
  font-size: 14px;
}
.title_rad_prop{
  margin-top: 10px;
  margin-left: 10px;
  display: block;
}
#title_input_prop{
  margin-left: 5px;
  margin-right: 10px;
}
#quant_prop_bt{
  margin-left: 5px;
}

#water_form{
display: none;
}

#water_form input{
  width: 40px;
}
#water_start_bt{
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
  display: none;
}
.fin_title{
  display: inline;
}

.water_veloc{
  color: #4AE54A;
  margin-left: 50px;
  display: none;
  position: absolute;
  margin-top: 165px;
  font-size: 14px;
}
.select_dir{
  width: 105px;
  margin-left: 10px;
  margin-right: 10px;
}
#title_speed_wt{
  margin-left: 10px;
}
#turbo_button{
width: 70px;
height: 70px;
border-radius: 40px;
background-color: #84B410;
border:5px solid #DCEAC1;
font-size: 25px;
color: #ffffff;
margin-left: 20px;
font-weight: bold;
}
#air_speed{
  width: 40px;
  margin-left: 5px;
}
#air_pw{
  width: 40px;
  margin-left: 5px;
}
#air_form{
display: none; 
}
#air_form input{
display: block;
margin-left: 13px;
margin-bottom: 10px;
}
#air_form label{
  margin-left: 10px
}
